* {
    margin: 0px;
    padding: 0px;
  }

.top{
    height: 40px;
    text-align: center;
    padding: 150px 0 200px 0;
	background-color: #d8ebe9;
}

.title{
	font-size: 30px;
	font-family: 'serif';
	padding-top: 100px;
}

.syousai1{
	margin-top: 10px;
}
.syousai2{
	margin-top: 10px;
	border-bottom: solid 1px rgb(107, 107, 107);
	display: inline;
}

.photo{
	text-align: left;
	float: left;
	margin: 100px 100px 50px 100px;
}
.photo img{
	height: 500px;
	width: 300px;
}

.sentence{
	margin-top: 10px;
}
.book{
	height: 20px;
	width: 20px;
}

a{
	text-decoration: none;
	color: white;
}

a:hover{
	color: black;
}

.tamesi{
	margin: 7px auto 3px;
    width: 180px;
    height: 40px;
    line-height: 38px;
    border: 2px solid #323276;
    text-align: center;
    font-weight: bold;
    color: #fff;
    background-color: #323276;
    border-radius: 4px;
    display: inline-block;
	text-decoration: none;
}

.tamesi:hover{
    border: 2px solid #323276;
    background-color: #fff;
	color: black;
	text-decoration: none;
}

.konyu input{
	margin: 7px auto 3px;
    width: 180px;
    height: 40px;
    line-height: 38px;
    border: 2px solid #0098ce;
    text-align: center;
    font-weight: bold;
    color: #fff;
    background-color: #0098ce;
    border-radius: 4px;
    display: inline-block;
	text-decoration: none;
}


/*========= ローディング画面のためのCSS ===============*/
#splash {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #d8ebe9;
	z-index: 9999999;
	text-align:center;
	color:#fff;
}

#splash-logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
/*========= 画面遷移のためのCSS ===============*/

body{
    background:#d8ebe9;/*遷移アニメーションと同じ色を指定*/
}

body.appear{
    background:#fff;/*画面を開いた後の背景色を指定*/
}

/*画面遷移アニメーション*/
.splashbg1,
.splashbg2{
    display: none;
}

/*bodyにappearクラスがついたら出現*/
body.appear .splashbg1,
body.appear .splashbg2{
	display:block;
}

/*右に消えるエリア*/
body.appear .splashbg1{
	animation-name:PageAnime;
	animation-duration:1.2s;
	animation-timing-function:ease-in-out;
	animation-fill-mode:forwards;
    content: "";
    position:fixed;
	z-index: 999;
    width: 100%;
    height: 100vh;
    top: 0;
	left:50%;
    transform: scaleX(1);
    background-color: #d8ebe9;/*伸びる背景色の設定*/
}

@keyframes PageAnime{
	0% {
		transform-origin:left;
		transform:scaleX(1);
	}
	50% {
		transform-origin:right;
	}
	100% {
		transform-origin:right;
		transform:scaleX(0);
	}
}

/*左に消えるエリア*/
body.appear .splashbg2{
	animation-name:PageAnime2;
	animation-duration:1.2s;
	animation-timing-function:ease-in-out;
	animation-fill-mode:forwards;
    content: "";
    position:fixed;
	z-index: 999;
    width: 100%;
    height: 100vh;
    top: 0;
	right:50%;
    transform: scaleX(1);
    background-color: #d8ebe9;/*伸びる背景色の設定*/
}

@keyframes PageAnime2{
	0% {
		transform-origin:right;
		transform:scaleX(1);
	}

	50% {
		transform-origin:left;
	}
	100% {
		transform-origin:left;
		transform:scaleX(0);
	}
}

/*画面遷移の後現れるコンテンツ設定*/
#container{
	opacity: 0;/*はじめは透過0に*/
}

/*bodyにappearクラスがついたら出現*/
body.appear #container{
	animation-name:PageAnimeAppear;
	animation-duration:1s;
	animation-delay:0.2s;
	animation-fill-mode:forwards;
	opacity: 0;
}

@keyframes PageAnimeAppear{
	0% {
	opacity: 0;
	}
	100% {
	opacity: 1;
}
}